<!DOCTYPE html>
<html>
<head>
    <title>About us</title>
    <link rel="icon" href="/img/weathericon.png"/>
    <link rel="stylesheet" href="/css/stylesheet.css" />
 
</head>
<body>
    <div class="main-content">
        <h1>{{>header}}</h1>
        <img class="help" src="/img/IMG_3036.PNG" />
        <p1>Do you want to know more about us,{{name}}?</p1>
    </div>
   
    {{>footer}}
</body>
</html>