<!DOCTYPE html>
<html>
<head>
    <title>Help</title>
    <link rel="icon" href="/img/weathericon.png" />
    <link rel="stylesheet" href="/css/stylesheet.css" />
</head>
<body>
    <div class="main-content">
        <h1>{{>header}}</h1>
        <img class="potrait" src="/img/resume.png" />
        <p1>{{message}}</p1>
    </div>
    
    {{>footer}}
</body>
</html>